{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>We are White Whale Fundraising</h1>
        <p>And we're here to save the world (sort of)!</p>
        <button>Hire me</button>
    </div>
</div>
    <div>Am I in the right place?</div>
{% endblock %}