{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="parallax-1">
    <div class="hero-text">
        <h1>We are White Whale Fundraising</h1>
        <div class="center-elements">
            <p class="intro-text">Since the discovery of our eponymous white whale in the seas off the Aleutian Islands in January of 2022, we have been following it, keeping tabs on its migration, 
            and raising funds for its continued study and conservation. You can help by donating, or you can get involved via our blog!</p>
        </div>
    </div>
</div>
<div class="parallax-2"></div>
<div class="parallax-3"></div>
<div class="parallax-4"></div>

{% endblock %}