{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'donations/css/donations.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
	<div class="success-content">
		<div id="box" >
			<h4>Thank you for your donation of £{{ donation.donation_total }}!</h4>
			{% if donation.gift_aid %}
				<h5>With Gift Aid, your donation of £{{ donation.donation_total }} is worth £{{ donation_gift_aid | floatformat:2 }} to our causes! Thank you!</h5>
			{% endif %}
			<p>Your donation helps the cause of whale and marine wildlife conservation around the world. </p>
			<hr>
			<a class="" href="{% url 'home' %}">Home</a>
		</div>
		<div>
			{% if from_profile %}
				<a href="{% url 'profile' %}" class="return-to-profile">
					Return to profile
				</a>
			{% endif %}
		</div>
		<figure>
			<figcaption><strong>Look how happy you've made this happy chappy!</strong></figcaption>
			<img src="{% static 'media/happyfish.jpeg' %}" alt="A happy fish sarcastic">
		</figure>
	</div>

{% endblock content %}