{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h3>Donation form</h3>
                <h4>Your donation will help keep endangered marine species alive for future generations. This is your gift to them.</h4>
            </div>
        </div>
    </div>
{% endblock %}