.profile-form-input::placeholder {
    color: #aab7c4;
}

.profile-edit-form input {
    padding: .375rem .75rem;
    margin: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}

.profile-form-input {
    border-radius: 20px;
}

/* Some of below styling for country field taken from CI's Boutique Ado project for same */

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
    margin: 5px;
    text-align: center;
}

#id_default_country option:first-child {
    color: #6c6c6c;
}