html {
    height: 100%;
}

body {
    background: url('../../media/images/whalelighthousebanner.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* -------------------------------- Header */

.indigo {
    background-color: #004de6;
}

.white-text {
    color: #fff;
}

.logo {
    margin-left: 10px;
}

.gutter-remove {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.toggler-style {
    color: #000;
    z-index: 999;
}

.logo-position {
    display: block;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up - taken from Code Institute's Boutique Ado */
@media (min-width: 992px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}