<div class="col-8 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <i class="fas fa-users text-light"></i>
            <a href="#" class="btn btn-lg text-light">Become a member</a>
        </li>
        <li class="nav-item">
            <i class="fas fa-hand-holding-usd text-light"></i>
            <a href="{% url 'donation_form' %}" class="btn btn-lg text-light">Donate</a>
        </li>
        <li class="nav-item">
            <i class="fas fa-chart-line text-light"></i>
            <a href="#" class="btn btn-lg text-light">Sponsor a fundraiser</a>
        </li>
        <!-- {% if request.user.is_authenticated %} -->
        <li class="nav-item">
            <i class="fas fa-sign-in-alt text-light"></i>
            <a href="{% url 'profile' %}" class="btn btn-lg text-light">My account</a>
        </li>
        <!-- {% else %} -->
        <li class="nav-item">
            <i class="far fa-user-circle text-light"></i>
            <a href="#" class="btn btn-lg text-light">Sign in</a>
        </li>
        <!-- {% endif %} -->
    </ul>
</div>