.donation-form-card {
    margin: 30px;
    background-color: #A7C7E7;
    border-radius: 4px;
    position: relative;
    max-width: 600px;
    margin: auto;
}

.form-display {
    display: inline;
}