.donation-form-card {
    margin: 30px;
    background-color: #A7C7E7;
    border-radius: 4px;
    position: relative;
    max-width: 600px;
    margin: auto;
}

.form-display {
    display: inline;
}

.selectors-container {
    text-align: center;
    align-items: center;
    margin: auto;
}

.dropdown_style {
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border: 5px black;
}

.text-center {
    align-items: center;
}

.custom-input-label {
    float: left;
    margin-bottom: 0.5em;
}

#details-info {
    display: none;
}

#gift-aid-explanation {
    display: none;
}