/* Stripe elements taken from Stripe's outdated docs; edited according to the Boutique Ado project */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Roboto&display=swap');


.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

/* .StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
} */

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #6c6c6c;
}

.donation-form-card {
    margin: 30px;
    background-color: #A7C7E7;
    border-radius: 4px;
    position: relative;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

.donate-btn-style {
    margin: 10px 10px 20px 0px;
}

.form-display {
    display: inline;
}

.selectors-container {
    text-align: center;
    align-items: center;
    margin: auto;
}

.dropdown_style {
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border: 5px black;
}

.text-center {
    align-items: center;
}

.custom-input-label {
    float: left;
    margin-bottom: 0.5em;
}

#details-info {
    display: none;
}

#gift-aid-explanation {
    display: none;
}

/* Below styling for country field taken from CI's Boutique Ado project for same */

#id_country,
#id_country option:not(:first-child) {
    color: #000;
}

#id_country option:first-child {
    color: #6c6c6c;
}